
#modeChange-checkBox {
    display: none;
}

#modeChange-label {
    width: 62px;
    height: 33px;
    box-shadow: inset 0 0 5px var(--base-light);
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    transition: 0.3s all ease-in;
    border: 1px solid white;
}

#modeChange-label::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: white;
    left: 100%;
    transform: translateY(-50%) translateX(-110%);
    top: 50%;
    border-radius: 27px;
    transition: 0.2s ease-in;
}

#modeChange-checkBox:checked+#modeChange-label::after {
    transform: translateY(-50%);
    left: 3.5px;
}

#modeChange-checkBox:active+#modeChange-label::after {
    width: 35px;
}

#modeChange-icon-moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4.5px;
    z-index: 1;
    color: var(--base-light);
    transition: 0.2s all ease-in;
}

#modeChange-checkBox:checked+#modeChange-label #modeChange-icon-moon {
    color: black;
}

#modeChange-icon-sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: 4.2px;
    transition: 0.2s all ease-in;
    color: black;
}

#modeChange-checkBox:checked+#modeChange-label #modeChange-icon-sun {
    color: var(--base-light);
}
